<mat-card
  (click)="onSelect(servey)"
  class="example-card"
  style="text-align: center"
  [ngClass]="
    servey.SURVEY_STATUS_EN === 'Published' &&
    TestService.currentSelectedSurvey == servey?.TEMPLATE_ID
      ? 'selected-published'
      : 'Published'
  "
  [ngClass]="
    servey.SURVEY_STATUS_EN === 'Expired' &&
    TestService.currentSelectedSurvey == servey?.TEMPLATE_ID
      ? 'selected-expired'
      : 'Expired'
  "
  [ngClass]="
    TestService.currentSelectedSurvey == servey?.TEMPLATE_ID &&
    servey.SURVEY_STATUS_EN === 'Closed'
      ? 'selected-closed'
      : 'Closed'
  "
  [ngClass]="{
    Published: servey.SURVEY_STATUS_EN === 'Published',
    Expired: servey.SURVEY_STATUS_EN === 'Expired',
    Closed: servey.SURVEY_STATUS_EN === 'Closed'
  }"
>
  <span
    style="color: grey"
    class="material-icons"
    *ngIf="
      TestService.currentSelectedSurvey == servey?.TEMPLATE_ID &&
      servey.SURVEY_STATUS_EN === 'Closed'
    "
  >
    lock
  </span>
  <span
    style="color: grey"
    class="material-icons"
    *ngIf="
      servey.SURVEY_STATUS_EN === 'Closed' &&
      !(TestService.currentSelectedSurvey == servey?.TEMPLATE_ID)
    "
  >
    lock_open
  </span>

  <span
    style="color: #20c997"
    class="material-icons"
    *ngIf="
      TestService.currentSelectedSurvey == servey?.TEMPLATE_ID &&
      servey.SURVEY_STATUS_EN === 'Published'
    "
  >
    check_circle
  </span>
  <span
    style="color: #20c997"
    class="material-icons"
    *ngIf="
      servey.SURVEY_STATUS_EN === 'Published' &&
      !(TestService.currentSelectedSurvey == servey?.TEMPLATE_ID)
    "
  >
    check
  </span>
  <span
    style="color: grey"
    class="material-icons"
    *ngIf="
      TestService.currentSelectedSurvey == servey?.TEMPLATE_ID &&
      servey.SURVEY_STATUS_EN === 'Expired'
    "
  >
    watch_later
  </span>
  <span
    style="color: grey"
    class="material-icons"
    *ngIf="
      servey.SURVEY_STATUS_EN === 'Expired' &&
      !(TestService.currentSelectedSurvey == servey?.TEMPLATE_ID)
    "
    >alarm
  </span>

  <mat-card-content> {{ servey.SurveyNameEn }} </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <ng-container *ngIf="this.servey.SurveyPeriods?.length >= 2; then array; else string">
    </ng-container>

    <ng-template #array>
      <mat-select placeholder="Select Period" value="">
        <mat-option *ngFor="let i of servey.SurveyPeriods" value="1">
          {{ i["START_DATE"] | date: "dd/MM/yyyy" }} -
          {{ i["END_DATE"] | date: "dd/MM/yyyy" }}
        </mat-option>
      </mat-select>
    </ng-template>

    <ng-template #string>
      <ng-container *ngFor="let i of servey.SurveyPeriods">
        {{ i["START_DATE"] | date: "dd/MM/yyyy" }} -
        {{ i["END_DATE"] | date: "dd/MM/yyyy" }}
      </ng-container>
    </ng-template>
  </mat-card-actions>
  <mat-card-footer> </mat-card-footer>
</mat-card>
