.has-error label{
  color: red;
  }
  .has-error input{
   border: red;
   width: 100%;

   border: 1px solid red;
   outline: none;
    }
    .has-error span{
      color: red;
      font-size: small;
    }
  mat-radio-group{
    width: 60%;
  }

