<form
  [formGroup]="permissionForm"
  (ngSubmit)="onSubmit()"
  class="form-horizontal"
>
  <div class="form-group" [ngClass]="{ 'has-error': formErrors.fullName }">
    <label for="fullName" class="col-sm-2 control-label">Full Name</label>
    <div class="col-sm-8">
      <input
        type="text"
        id="fullName"
        formControlName="fullName"
        class="form-control"
        (blur)="logValidation()"
      />
      <span class="invalid" *ngIf="formErrors.fullName">
        {{ formErrors.fullName }}
      </span>
    </div>
  </div>

  <div *ngFor="let per of permission">
    <div for="">{{ per["pageDescEn"] }}</div>

    <mat-radio-group>
      <mat-radio-button value="1">Read-Write</mat-radio-button>
      <mat-radio-button value="2">Read Only</mat-radio-button>
      <mat-radio-button value="3">none</mat-radio-button>
    </mat-radio-group>
    <div *ngFor="let x of per.pageFunctions">
      <mat-checkbox *ngIf="contactPermission != 1">{{
        x.pageFuncDescEn
      }}</mat-checkbox>
    </div>
  </div>

  <button mat-raised-button type="submit" color="primary">Submit</button>
</form>
