<mat-card>
  <mat-tab-group animationDuration="0ms">
    <button mat-raised-button color="primary" [disabled]="!selectedSurveys">
      Go To Dashboard
    </button>
    <mat-tab label="Published">
      <div *ngFor="let servey of this.Surveys" class="col-4">
        <div
          class="container example-card col-3"
          style="padding: 30px"
          *ngIf="servey.SURVEY_STATUS_EN === 'Published'"
        >
          <app-card
            [servey]="servey"
            [selectedSurveys]="selectedSurveys"
          ></app-card>
        </div></div
    ></mat-tab>
    <mat-tab label="Expired">
      <div *ngFor="let servey of Surveys" class="col-4">
        <div
          class="container example-card col-3"
          style="padding: 30px"
          *ngIf="servey.SURVEY_STATUS_EN === 'Expired'"
        >
          <app-card [servey]="servey"></app-card>
        </div></div
    ></mat-tab>
    <mat-tab label="Closed">
      <div *ngFor="let servey of Surveys" class="col-4">
        <div
          class="container example-card col-3"
          style="padding: 30px"
          *ngIf="servey.SURVEY_STATUS_EN === 'Closed'"
        >
          <app-card [servey]="servey"></app-card>
        </div></div
    ></mat-tab>
    <mat-tab label="Al Serveys">
      <div *ngFor="let servey of Surveys" class="col-4">
        <div class="container" style="padding: 30px"></div>
        <app-card [servey]="servey"></app-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
